.container {
    width: 1180px;
    margin: auto;
    max-width: 100%;
    padding: 60px 20px;
}

.container--smaller {
    width: 940px;
}

.container--larger {
    width: 1600px;
}

.container--larger-2 {
    width: 1800px;
}

.container--shadow {
    box-shadow: 0 0 10px #ccc;
}

.container--padding {
    padding: 20px 20px;
}

.container--social-opacity {
    background-color: rgba(189, 187, 187, 0.473)
}

.container__download {
    margin-top: 30px;
}

.container__social {
    margin-bottom: 50px;
    margin-top: 70px;
}



